.w3-section{
    display: flex;
}
.s4{
    flex: 1 1 0;
}
.s4 img{
    width: 100%;
    opacity: 50%;
    cursor: pointer;
}
.s4 img:hover{
    opacity: 100%;
}
.w3-content{
    flex: 1 1 0;
    width: 100%;
    text-align: center;
}
.w3-content img{
    width: 80%;
}
.showcase{
    display: flex;
}
.pinteraction{
    flex: 1 1 0;
    width: 90%;
    max-width: 600px;
    margin: 50px;
}
.picdescrip{
    color: rgb(120, 129, 135);
}
.name{
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.custom-file-upload {
    background-color: #68251d88;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .custom-file-upload input[type="file"] {
    display: none;
  }
.add-to-cart{
    color: #68251D;
    border: 3px solid #68251D;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 20px;
}
.buynow{
    background-color: #9B5A46;
    border: 0px;
    color: white;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin: 0 auto;
}
.qbutton {
    display: flex;
    height: 30px;
    align-items: center;
    margin: 10px;
}
.qbutton button{
    margin: 5px;
}
.qtext {
    display: flex;
    align-items: center;
}
.drop{
    background-color: #AA6C5380;
    position: relative;
    cursor: pointer;
}
.drop h4{
    width: calc(100% - 40px);
    margin: 0px;
    padding: 20px;
    border-bottom: 2px solid black;
}
.drop p{
    display: none;
    padding: 0 20px 20px 20px;
}
.drop h1{
    position: absolute;
    top: 0px;
    right: 20px;
}
.description{
    margin: 10px auto;
    cursor: pointer;
}
input,button{
    margin: 10px 0;
}
.alsolike{
    margin: 50px;
    position: relative;
}
.scroll{
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
}
.sbtn{
    margin: 10px;
    padding: 5px 9px;
    border: 1px solid black;
    border-radius: 50px;
}
.sbtn h2{
    margin: 0px;
}
.likeproduct{
    display: flex;
    border: 5px solid #68251D;
    border-width: 5px 0;
    padding: 10px;
    overflow-x: scroll;
    gap: 20px;
}
.likeproduct img{
    width: 20vw;
    max-width: 200px;
}
.likeproduct::-webkit-scrollbar {
    width: 0px;
}
.review{
    margin: 50px;
    position: relative;    
}
.review h1,.alsolike h1{
    margin-left: 20px ;
}
.revdisplay{
    display: flex;
    gap: 15px;
    overflow-x: scroll;
}
.revdisplay::-webkit-scrollbar {
    width: 0px;
}
.indiviRev{
    background-color: #AA6C5380;
    border-radius: 5px;
    padding: 10px;
    width: 25vw;
    min-width: 300px;
}
.indiviRev img{
    display: inline-block;
}
.indiviRev h6{
    display: inline-block;
    margin: 0px;
}
.indiviRev p{
    width: 300px;
}
@media only screen and (max-width: 800px) {
    .showcase{
        flex-direction: column;
    }
    .review{
        margin: 0px;
    }
    .pinteraction{
        margin: 20px;
    }
    .alsolike{
        margin: 0px;
    }
}